{% assign footerLinkLists = "footer-link-list-1|footer-link-list-2" | split: "|" %}
<div class="footer-module footer-link-lists">
  {% for list in footerLinkLists %}

    {% assign name = block.settings[list] %}

    {% if linklists[name].links.size > 0 %}
      <div class="footer-link-list">
        <h4>{{ linklists[name].title | escape }}<span><i class="fal fa-chevron-down"></i></span></h4>
        <ul class="toggle_content">
          {% for link in linklists[name].links %}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>
